@import "./../../scss/variables";
@import "./../../scss/mixins";

.Home {
  // identical for the layout to Photographer.scss
  padding: 20px 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include sm {
    padding: 15px 25px 0;
  }
  @include md {
    padding: 25px 50px 0;
  }

  &Header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 14.87px;
    font-family: 'DMSans', serif;
    color: $color-primary;
    margin-bottom: 20px;

    & > div > h1 {
      @include fontPhotographer(20, 22, 3.5)
    }
  }

  &Photographers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
}
