@import "./../../scss/variables";
@import "./../../scss/mixins";

.Photographer {
  // identical for the layout to Home.scss
  padding: 20px 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include sm {
    padding: 15px 25px 0;
  }
  @include md {
    padding: 25px 50px 0;
  }

  &Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-secondary;
    padding: 20px 50px;

    @include lg {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    & > div {
      flex-basis: 30%;
    }

    &Name {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: $color-primary;
      font-family: 'DMSans', serif;
      font-size: 20px;
      line-height: 22px;

      @include fontPhotographer(20, 22, 10);
      @include allBreakPoint(justify-content, center, center, flex-start, flex-start);
    }

    &City {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 14px;
      line-height: 16px;

      @include fontPhotographer(14, 16, 10);
      @include allBreakPoint(justify-content, center, center, flex-start, flex-start);
    }

    &TagLine {
      display: flex;
      flex-direction: row;
      justify-content: center;

      @include allBreakPoint(justify-content, flex-start, flex-start, flex-start, flex-start);
    }
  }

  &Contact {
    display: flex;
    justify-content: center;
  }

  &Avatar {
    display: flex;
    justify-content: flex-end;

    & > div {
      display: flex;
      justify-content: flex-end;
      width: 150px;
      height: 150px;
      border-radius: 50%;

      @include allBreakPoint(width, 150px, 200px, 250px, 300px);
      @include allBreakPoint(height, 150px, 200px, 250px, 300px);

      & > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }
}
