@import './variables';

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

/**
 * Mixin to apply property values at different breakpoints.
 * @param {string} $property - The CSS property to be applied.
 * @param {*} $valueSM - The value for the small (sm) breakpoint.
 * @param {*} $valueMD - The value for the medium (md) breakpoint.
 * @param {*} $valueLG - The value for the large (lg) breakpoint.
 * @param {*} $valueXL - The value for the extra-large (xl) breakpoint.
 */
@mixin allBreakPoint($property, $valueSM, $valueMD, $valueLG, $valueXL) {
  @include sm {
    #{$property}: $valueSM;
  }
  @include md {
    #{$property}: $valueMD;
  }
  @include lg {
    #{$property}: $valueLG;
  }
  @include xl {
    #{$property}: $valueXL;
  }
}

/**
 * Mixin to apply font styles at different breakpoints.
 * @param {*} $fontSize - The base font size.
 * @param {*} $lineHeight - The base line height.
 * @param {*} $multiplier - The multiplier for adjusting font size and line height.
 */
@mixin fontPhotographer($fontSize, $lineHeight, $multiplier) {
  $unit: px;

  @include sm {
    font-size: $fontSize + $unit;
    line-height: $lineHeight + $unit;
  }
  @include md {
    font-size: ($fontSize + $multiplier) + $unit;
    line-height: ($lineHeight + $multiplier) + $unit;
  }
  @include lg {
    font-size: ($fontSize + (2 * $multiplier)) + $unit;
    line-height: ($lineHeight + (2 * $multiplier)) + $unit;
  }
  @include xl {
    font-size: ($fontSize + (3 * $multiplier)) + $unit;
    line-height: ($lineHeight + (3 * $multiplier)) + $unit;
  }
}
