@import './../../../scss/variables';
@import './../../../scss/mixins';

.SortDropdown {

  & > div {
    padding: 15px 10px;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    background: $color-primary;
    position: relative;
    display: inline-block;
    min-width: 140px;
    overflow: hidden;

    @include fontPhotographer(14, 16, 0.8);

    & > a {
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  &Content {
    display: flex;
    flex-direction: column;

    & > a {
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}
