@import './../../../scss/variables';
@import './../../../scss/mixins';

.SortDropdown {

  & > div {
    position: relative;
    min-width: 160px;
    font-family: 'DMSans', serif;

    @include fontPhotographer(14, 16, 0.8);

    & > div:first-child {
      display: flex;

      & > div {
        position: relative;
        display: flex;
        min-width: 160px;
        min-height: 50px;
        background: $color-primary;

        & > button {
          color: #FFFFFF;
          text-align: left;
          font-family: 'DMSans', serif;
          padding: 0 15px;
          border: 0;
          background: $color-primary;

          @include fontPhotographer(14, 16, 0.8);

          &:hover {
            cursor: pointer;
          }
        }

        & > button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background: transparent;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 160px;
    height: auto;
    background: $color-primary;
    border-radius: 5px;

    & > button {
      position: relative;
      color: #FFFFFF;
      text-align: left;
      font-family: 'DMSans', serif;
      min-height: 50px;
      padding: 0 15px;
      border: 0;
      background: $color-primary;
      border-radius: 0 0 5px 5px;

      @include fontPhotographer(14, 16, 0.8);

      &:before {
        content: "";
        position: absolute;
        width: 80%;
        height: 1px;
        background-color: white;
        top: 0;
        left: 15px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.BorderRadiusOpen {
  border-radius: 5px 5px 0 0;
}

.BorderRadiusClose {
  border-radius: 5px;
}

.rotate, {
  transform: rotate(180deg);
  animation-name: rotateOpenAnimation;
  animation-duration: .5s;
}

.unrotate, {
  transform: rotate(0deg);
  animation-name: rotateCloseAnimation;
  animation-duration: .5s;
}

@keyframes rotateOpenAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}


@keyframes rotateCloseAnimation {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
